<div class="login" layout-fill>

  <div class="ulike-logo">
    <img src="../../assets/icon-152x152.png">
  </div>
  <div class="login-form">
    <div class="login-form-content">
      <h3 style="color: white;text-align: center;font-size: 20px">Inicia sesión</h3>
      <div>
        <div>
        <mat-form-field class="login-input" color="accent">
          <input matInput [(ngModel)]="username" placeholder="Usuario">
        </mat-form-field>
        </div>
        <div>
        <mat-form-field class="login-input" color="accent">
          <input matInput type="password" [(ngModel)]="password" placeholder="Contraseña">
        </mat-form-field>
        </div>
        <div style="margin-top: 20px;text-align: center">
          <button mat-flat-button  (click)="onRegisterClick()" class="login-button">Registrarme</button>
          <button mat-flat-button  (click)="onLoginClick()" class="login-button">Ok</button>
        </div>
      </div>
    </div>
  </div>

</div>
